# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so
*.egg
*.egg-info/
dist/
build/
.eggs/
.venv/

# Testing / coverage
.pytest_cache/
.coverage
htmlcov/
.ruff_cache/

# Type checkers
.mypy_cache/
.ty_cache/

# uv
uv.lock
